# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env
.DS_Store

# Flutter
.dart_tool/
.idea/
.vscode/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.iml

# General
Thumbs.db
